<html>
<head>
  
<style>
  

  body{
    background-image: url("images/1.jpg"); 
    background-color: #8e8989;
    color: black;
}
.btn {
    font-size: 20px;
  font-weight: bold;
  color: #df744a;
  background: #bfd8d2;
  outline: none;
  border: 2px solid #fedcd2;
  cursor: pointer;
  padding: 0.9em;
  -webkit-appearance: none;
  width: 20%;
  margin: 2em 0;
  letter-spacing: 4px;
}
.btn:hover{
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  transition: .5s all;
  background:  #dcb239;
   opacity: 1;
}
</style>

</head>
<body>


<h1><u>Users waiting for Approval</u></h1>
<center>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      
      <th>Age</th>
      <th>Caste</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Religion</th>
      <th>Phone</th>
      <th>Qualification</th>
      <th>Current job</th>
      <th>Status</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  
    <% @users.each do |user| %>
      <tr class="<%=cycle('odd','even')%>">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.age %></td>
        <td><%= user.caste %></td>
        <td><%= user.gender %></td>
        <td><%= user.city %></td>
        <td><%= user.religion %></td>
        <td><%= user.phone %></td>
        <td><%= user.qualification %></td>
        <td><%= user.current_job %></td>
        <td><%= user.status %></td>
        <!--<td><%= link_to 'Approve', edit_user_path(user) %></td>-->
        <td><%= link_to 'Approve', {:controller=>'users', :action=>'approve', :u_id=>user.id} %>     
      </tr>
    <% end %>
  
  </tbody>
</table>
<a class="btn" href="admin_logout">Log Out</a>
</center>

<ul class="colorlib-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</body>
</html>


