<html>
<head>
  <title>Search results</title>
<style>

/*------------------------overlay---------------------*/

.profile{
    width: 75%;
    
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.express
{
    width: 30%;
}
.container{


}
.image_container
{
    width: 30%;
  height: 100%;
  float: left;
  position: relative;
}
.img-container img{
  width: 100%;
  height: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/*.img_container:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 30px solid #1DA1F2;
  border-right: 30px solid transparent;
  border-top: 30px solid #1DA1F2;
  border-bottom: 30px solid transparent;
  cursor: pointer;
  border-top-left-radius: 5px;
}

.img_container:after{
  font-family: fontawesome;
  content:"\f099";
  position: absolute;
  top: 10px;
  left: 12px;
  color: #fff;
  font-size: 18px;
}
*/


.content{
  width: 60%;
  height: 100%;
  float: left;
  padding: 30px 40px;
  box-sizing: border-box;
}
.head{
  padding-bottom: 30px;
}

.head p{
  font-size: 28px;
  color: #444444;
  font-weight: 600;
}

.head span{
  color: #aaabaf;
  font-size: 14px;
}

.data{
  width: 90%;
  overflow: hidden;
}

.inner-data{
  width: 50%;
  float: left;
  text-align: left;
  color: #aaabaf;
}

.inner-data p{
  font-size: 14px;
  padding-bottom: 5px;
}

.inner-data span{
  font-size: 18px;
  font-weight: 400;
}

body{
    
    font-family: "Garamond",elvetica, sans-serif;
    background-color:#df744a;
    
        
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #df744a;
}

li {
    
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
  
  font-size: 15px;
  font-weight: bold;
  color: black;
  
  outline: none;
  border: 2px solid #fedcd2;
  cursor: pointer;
  padding: 0.9em;
  -webkit-appearance: none;
  margin: 2em 0;
  letter-spacing: 4px;
font-family: "Garamond",Helvetica, sans-serif;
}

li a:hover:not(.active) {
    background-color: #dcb239;
}
a.active{
    background-color: #dcb239;
  }

.sitename
{
  font-size: 30px;
  float: left;
   display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-weight:bold;
    font-family: "Comic Sans MS", Times, serif;
    color: #df744a;
    border: 5px solid #fedcd2;
}
.navbar
{
  background: #fedcd2;
    color: #df744a;
    height: 20%;
}
table {
    width:100%;
    color: black;
}
table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    text-align: left;
}
table#t01 tr:nth-child(even) {
    background-color: #eee;
}
table#t01 tr:nth-child(odd) {
   background-color: #fff;
}
table#t01 th {
    background-color: black;
    color: white;
}
.foot
{
  align-self: center;
}

/* button to scroll to top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #dcb239;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>
<script type="text/javascript">
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
</head>
<nav>
    <ul class="navbar">
  <li class="sitename">Matrimony.com</li>
  
  <li><a href="user_page">Back</a></li>
  <li><a href="search_profile">Modify search</a></li>
  <li><a class="active" href="search">Users profiles</a></li>
  
    </ul>
</nav>
<body>
<center>
<% if @matches.present? %>
  <% for us in @matches %>
    <br>
        <div class= "profile">
            <div class="container">
            <div class="image_container">
                <% if (us.gender.downcase=="male") %>
                <img src="/images/male2.png" alt="John" >
                <% else %>
                <img src="/images/female2.png" alt="jane" >
                <%end%>
            </div>
           
           <div class="content">
                <div class="head">
                        <p><%= us.name.upcase %></p>
                </div>
                <table id="t01">
                    <tr>
                        <td>Email</td><td><%= us.email %></td>
                        <td>Phone</td><td><%= us.phone %></td>
                    </tr>    
                    <tr>    
                        <td>Age </td><td><%= us.age %></td>
                        <td>Religion</td> <td><%= us.religion %></td>
                    </tr>    
                    <tr>
                    <td>Caste</td><td> <%= us.caste %></td>
                    <td>Qualification</td><td> <%= us.qualification %> </td>
                    </tr>
                    <tr>
                        <td>Employment</td><td> <%= us.current_job %></td>
                        <td><b>City</b></td><td> <%= us.city.upcase %></td>
                    </tr>        
                 </table>
        </div>
            
            <div class="express" onclick="clickAndDisable(this);" > 
           <%= button_to "express interest", method: "post", action: "express", :to_id => us.id %></div>

           </div>
        </div>
           
      
      <% end %>
<%else%>
    <h1>Sorry no users found!</h1>
<%end%>      
        
   </center>

   <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
</body>
</html>
