

<!DOCTYPE html>
<html>
<title>Matrimonial Website</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card">
    <label>Matrimonial Website</label>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <% if current_user %>
      Logged in as <%= current_user.email %></br>
      <%= link_to "Log out", {:action=>'logout'} %>
      <% else %>
      <%= link_to 'New User?Register here!', new_user_path %></br></br>
      <%= link_to "User Log In", {:action=>'login'} %></br></br>
      <%= link_to "Admin Log In", {:action=>'admin'} %>
      <% end %>
    </div>
  </div>
</div>
 
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="images/1.jpg" alt="Architecture" width="1500" height="800">
  <img class="w3-image" src="images/2.jpg" alt="Architecture" width="1500" height="800">
  <img class="w3-image" src="images/3.jpg" alt="Architecture" width="1500" height="800">
  <img class="w3-image" src="images/4.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Matrimonial</b></span> <span class="w3-hide-small w3-text-light-grey"></span></h1>
  </div>
</header>

<script>
var slideIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("w3-image");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>
<script>
function myMap()
{
  myCenter=new google.maps.LatLng(41.878114, -87.629798);
  var mapOptions= {
    center:myCenter,
    zoom:12, scrollwheel: false, draggable: false,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>
</body>
</html>

